 header{
    height: 100vh;
    width: 100%;
}

/* Movie Header */
.movieheader {
    display: flex;
    align-items: center;
    background-image: url('../assets/Jumanji\ back.jpg');
    background-size: cover;
    color: white;
    height: 93%;
    background-position: center;
    position: relative;
}

.img-overlay{
    background-color: rgba(0, 0, 0, 0.7);
    height: 100%;
    width: 100%;
    position: relative;
    padding: 40px;
}

.contents{
    position: relative;
}

.movie-poster img {
    width: 100%;
}

.movie-info h3 {
    margin: 0;
}

section p{
    color: white;
}

.pf-2{
    line-height: 2;
}

.box-office-info {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px;
    border-radius: 10px;
    color: white;
    width: 50%;
}


/* Movie Details and Trailer */
.movie-details {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 40px;
    width: 100%;
}

.justify{
    text-align: justify;
}

.restyle{
    font-size: 20px;
    font-weight: bold;
    background: linear-gradient(90deg, #FCCE32 0, #F2941E 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.trailer {
    padding-left: 40px;
}

@media (max-width: 991px) {
    .movie-poster {
      display: none;
    }

    header{
        height: 60%;
    }

    .trailer{
        padding-left: 10px;
    }
  } 

