#filters{
    position: relative;
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
}

.filter{
    width: 100% !important;
    margin-left: 5px;
    margin-right: 5px;
}

.dropdown-toggle::after {
    display: inline-block;
    margin-left: 50%;
    vertical-align: middle;
}

@media (max-width: 991px){
    .dropdown-toggle::after {
        margin-left: 30%;
    }
}

.dropdown-menu {
    --bs-dropdown-divider-bg: #BEBFC5;
    --bs-dropdown-link-color: #BEBFC5;
    --bs-dropdown-item-padding-x: 30px;
    position: absolute;
    font-size: 24px;
    text-align: left;
    background-color: #313131;
    border: 1px solid #BEBFC5;
    border-radius: 10px;
    width: auto;
}

/* -------------------------------------------------------------------------------- */
/* Card Styling */


/* This makes all the images the same size. */
.card-img-top {
    background-position: center;
    background-size: cover;
}
.img-overlay {
    opacity: 50%;
}

.card {
    width: 350px;
    background-color: black;
    margin-bottom: 7%;
    width: 20rem;
    height: 30rem;
    transition: ease-out;
}

.card-body{
    background: linear-gradient(180deg, transparent 0, black 100%);
    margin-top: -150px;
    z-index: 1;
}

.more-info{
    display: none;
}

.play-btn {
    color: white;
    font-size: 100px;
    z-index: 1;
    position: absolute;
    display: flex;
    justify-content: center;
    margin-top: 10rem;
}

/* When the user hover over the card, it scales up and makes it overlap the other cards */
.card:hover {
    transform: scale(1.1, 1.1);
    cursor: pointer;
}


/* The title floats left while the icon floats right */
.title{
    height: 63px;
    overflow-y: hidden;
    float: left;
}

/* The minus icon can be replaced with a plus if needed. Just change it's name to .bi-plus-circle in the card (in watchlist.js) and css */
.bi-plus-circle {
    margin-top: -5px;
    float: right;
    color: #fcc32e;
    font-size: 28px;
}
.bi-check-circle {
    margin-top: -5px;
    float: right;
    color: #fcc32e;
    font-size: 28px;
}

#movieContainer {
    margin-bottom: 300px;
}

