
/* -------------------------------------------------------------------------------- */
/* Card Styling */


/* This makes all the images the same size. */
.card-img-top {
    height: 350px;
    background-position: center;
    object-fit: cover;
    
}
.img-overlay {
    opacity: 50%;
    
}

.card {
    
    width: 350px;
    background-color: black;
    margin-bottom: 90px;
    margin-left: 20px;
    width: 18rem;
    transition: ease-out;
    
}

.play-btn {
    color: white;
    font-size: 100px;
    z-index: 1;
    position: absolute;
    margin-top: 90px;
    opacity: 0%;
}

/* When the user hover over the card, it scales up and makes it overlap the other cards but unfortunately it's glitchy */
.card:hover {
    transform: scale(1.07);
    cursor: pointer;
}

/* Create a dark overlay on top of the image. When the card is hovered on this class is added to the image. See watchlist.js */
.img-hover {
    background-color:black;
    opacity: 0.6;
}


/* The title floats left while the icon floats right */
.title{
    height: 63px;
    overflow-y: hidden;
    float: left;
}

/* The minus icon can be replaced with a plus if needed. Just change it's name to .bi-plus-circle in the card (in watchlist.js) and css */
.bi-dash-circle {
    margin-top: -5px;
    float: right;
    color: #fcc32e;
    font-size: 28px;
}

/* The genres is a floated list */
main ul{
    list-style: none;
    float: left;
    color: white;
    margin-left: -30px;
}

main li{
    float: right;
    color: #fcc32e;
    font-size: 28px;
}

#movieContainer {
    margin-bottom: 300px;
}